<html>
    <head>
        <meta charset="utf-8">
        <title>Todo</title>
    </head>
    <body>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <label for = "title">Title</label></br>
            <input type="text" name="title" id="title"/><br>
            <label for = "text">Text</label></br>
            <textarea name="text" id = "text"></textarea></br>
            <label for="status">Status</label><br>
            <select id = "status">
                    <option value = "In progress">'In progress'</option>
                    <option value = "completed">'completed'</option>
                    <option value = "pending">'pending'</option>
                  </select><br>
            <input type="Submit" value="Submit"/>
        </form>
    </br>
    <a href="/">Back</a>
    </body>
</html>